[submodule "Makeshift/vendor/spdlog"]
	path = Makeshift/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Makeshift/vendor/GLFW"]
	path = Makeshift/vendor/GLFW
	url = https://github.com/GarrettNixSoft/glfw
[submodule "Makeshift/vendor/imgui"]
	path = Makeshift/vendor/imgui
	url = https://github.com/GarrettNixSoft/imgui
[submodule "Makeshift/vendor/glm"]
	path = Makeshift/vendor/glm
	url = https://github.com/g-truc/glm
