[submodule "Makeshift/vendor/spdlog"]
	path = Makeshift/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Makeshift/vendor/GLFW"]
	path = Makeshift/vendor/GLFW
	url = https://github.com/GarrettNixSoft/glfw
