[submodule "Makeshift/vendor/spdlog"]
	path = Makeshift/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Makeshift/vendor/GLFW"]
	path = Makeshift/vendor/GLFW
	url = https://github.com/GarrettNixSoft/glfw
[submodule "Makeshift/vendor/imgui"]
	path = Makeshift/vendor/imgui
	url = https://github.com/GarrettNixSoft/imgui
[submodule "Makeshift/vendor/glm"]
	path = Makeshift/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Makeshift/vendor/vma"]
	path = Makeshift/vendor/vma
	url = https://github.com/GarrettNixSoft/VulkanMemoryAllocator
[submodule "Makeshift/vendor/yaml-cpp"]
	path = Makeshift/vendor/yaml-cpp
	url = https://github.com/GarrettNixSoft/yaml-cpp
[submodule "Makeshift/vendor/imguizmo"]
	path = Makeshift/vendor/imguizmo
	url = https://github.com/GarrettNixSoft/ImGuizmo
